# IDE
.idea/
.vscode/

# Ambiente virtual
venv/
env/
.venv/

# Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/

# Variáveis de ambiente
.env
.flaskenv

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Distruição / build
build/
*.egg-info/

# Diretório temporário
tmp/*

# Outros
node_modules/
.prettierrc
